@import 'mixin';
@import 'base';

.background__picture {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;

    .background__item {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        
        .background__picture--special {
            display: block;
            position: relative;
            top: 0;
            @media screen and (min-width: $mobile_375) {
                zoom: 0.75;
            }
            @media screen and (min-width: $tabletsd_768) {
                zoom: 1.2816;
            }
            @media screen and (min-width: $tablet_1024) {
                zoom: 0.9612;
            }
            @media screen and (min-width: $desktopsd_1280) {
                zoom: 0.985;
            }
            @media screen and (min-width: $desktop_1440) {
                zoom: 1;
            }
            @media screen and (min-width: $desktophd_1920) {
                zoom: 1.25;
            }
        }
        
        .background__picture--pramery {
            display: block;
            position: relative;
            height: 459px;
            top: 340px;
            @media screen and (min-width: $mobile_375) {
                zoom: 0.75;
                left: -155px;
            }
            @media screen and (min-width: $tabletsd_768) {
                zoom: 1.2816;
            }
            @media screen and (min-width: $tablet_1024) {
                zoom: 0.9612;
            }
            @media screen and (min-width: $desktopsd_1280) {
                zoom: 0.985;
            }
            @media screen and (min-width: $desktop_1440) {
                zoom: 1;
            }
            @media screen and (min-width: $desktophd_1920) {
                zoom: 1.25;
            }
        }
    }

    .header__title {
        @include gettextstyle(700, 38px, 46px, center, $colorBasic);
        position: absolute;
        @media screen and (min-width: $mobile_375) {
            top: 226px;
            width: 315px;
        }
        @media screen and (min-width: $tabletsd_768) {
            top: 471.63px;
            width: 800px;
        }
        @media screen and (min-width: $tablet_1024) {
            top: 353.7px;
        }
        @media screen and (min-width: $desktopsd_1280) {
            top: 362.48px;
        }
        @media screen and (min-width: $desktop_1440) {
            top: 368px;
        }
        @media screen and (min-width: $desktophd_1920) {
            top: 460px;
        }
    }

    .button {
        position: absolute;
        width: 42px;
        left: 45%;
        bottom: 40px;

        .button__circle {
            position: absolute;
        }
            
        .button__galochka {
            width: 20px;
            position: relative;
            top: 15px;
            left: 11px;
        }

        .button__circle svg:hover #circle__circle,
        .button__circle svg:hover #galochka__galochka,
        .button__galochka svg:hover #galochka__galochka,
        .button__galochka svg:hover #circle__circle {
            stroke: $colorActive;
        } 
    }
}
.header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    // padding: 0 60px;

    

    .container {
        
        .background {
            
            
            .header__top {

                // @media screen and (min-width: $desktophd) {
                //     padding: 50px 30px 0 0;
                // }

                // @media screen and (min-width: $desktop) and (max-width:1919.9px) {
                //     padding: 50px 60px 0;
                // }
                @media screen and (min-width: $mobile_375) {
                }
                @media screen and (min-width: $tabletsd_768) {
                }
                @media screen and (min-width: $tablet_1024) {
                }
                @media screen and (min-width: $desktopsd_1280) {
                }
                @media screen and (min-width: $desktop_1440) {
                padding: 50px 30px 0;
                }
                @media screen and (min-width: $desktophd_1920) {
                }


                
                @include flex(row, start, nowrap, flex-start);
                
                .logo {
                    z-index: 1100;
                    @include flex(column, flex-start, nowrap, baseline);

                    @media screen and (min-width: $tabletsd_768) {
                       padding-top: 60px;
                    }
                    @media screen and (min-width: $tablet_1024) {
                        padding-top: 0;
                    }
                }
                
                .nav {
                    position: absolute;
                    
                    @media screen and (min-width: $tabletsd_768) {
                        width: auto;
                     }
                     @media screen and (min-width: $tablet_1024) {
                        width: 86.9%;
                     }
                     @media screen and (min-width: $desktop_1440) {
                        width: 88%;
                     }

                    

                    .nav__block{
                        @include flex(row, flex-end, nowrap, baseline);
                        
                        @media screen and (min-width: $mobile_375) {
                            margin-bottom: 22px;
                            background: rgba(245, 245, 250, 0.2);
                        }
                        @media screen and (min-width: $tabletsd_768) {
                            margin-bottom: 122px;
                            background: none;
                        }
                        @media screen and (min-width: $tablet_1024) {
                            margin-bottom: 12px;
                        }
                        

                        .nav__item {
                            @include flex(row, flex-start, nowrap, baseline);
                            align-self: flex-start;

                            .nav__link {
                                @include gettextstyle(700, 12px, 15px, center, $colorBasic);
                                letter-spacing: 1px;
                                padding: 5px 7px;
                                
                                &:hover {
                                    cursor: pointer;
                                    background: rgba(255, 255, 255, 0.2);
                                    border-radius: 8px;
                                }
                            }

                            .nav__link--active {
                                background: $colorActive;
                                border-radius: 8px;
                            }
                        }

                        .list {
                            @include flex(row,flex-start, nowrap, baseline);

                            
                            .list__item {
                                @include gettextstyle(700, 16px, 20px, start, $colorBasic);
                                align-self: center;
                                margin-left: 18px;
                                position: relative;
                            }

                            .list__item--special::before{
                                content: '';
                                position: absolute;
                                top: 7px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item::before{
                                content: '';
                                position: absolute;
                                top: 7px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item--primary::before{
                                content: '';
                                position: absolute;
                                top: 11px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item--special {
                                @include gettextstyle(400, 16px, 20px, right, $colorBasic);
                            }

                            .list__link svg:hover #face {
                                fill: $colorActive;
                            }
                        }

                    }


                    .menu {
                        font-size: 0;
                        @include flex(row,flex-end, nowrap, baseline);
                        
                        @media screen and (min-width: $tabletsd_768) {
                            @include flex(row,flex-start, nowrap, baseline);
                        }
                        @media screen and (min-width: $tablet_1024) {
                            @include flex(row,flex-end, nowrap, baseline);
                        }
                        

                        .menu__item {
                            margin: 0 0 0 15px;

                            &:hover {
                                border-bottom: 2px solid $colorBasic;
                            }

                            .menu__link {
                                @include gettextstyle(700, 16px, 20px, right, $colorBasic);
                                text-decoration: none;
                            }
                        }

                        .menu__item--active {
                            margin: 0;
                            border-bottom: 2px solid $colorActive;

                            .menu__link--active {
                                color: $colorActive;
                            }
                        }
                    }
                }
            }

            // .header__title {
            //     @include gettextstyle(700, 38px, 46px, center, $colorBasic);
            //     position: absolute;
            //     width: 800px;

            //     @media screen and (min-width: $mobile) {
            //         // zoom: 0.6;
            //         // padding: 0 0 0 24.5%;
            //     }
        
            //     @media screen and (min-width: $tabletsd) {
            //         // zoom: 0.7;
            //         // padding: 0 0 0 24.5%;
            //     }
        
            //     @media screen and (min-width: $tablet) {
            //         top: 245px;
            //         left: 300px;
            //     }
        
            //     @media screen and (min-width: $desktopsd) {
            //         top: 245px;
            //         left: 360px;
            //     }
        
            //     @media screen and (min-width: $desktop) {
            //         top: 377px;
            //         left: 360px;
            //     }
        
            //     @media screen and (min-width: $desktophd) {
            //         top: 472px;
            //         left: 550px;
            //     }
                
            //     top: 377px;
            //     left: 360px;
            // }

            // .button {

            //     @media screen and (min-width: $desktophd) {
            //         margin: 812px auto 0;
            //     }
            //     margin: 614px auto 0;
            //     width: 42px;

            //     .button__circle {
            //         position: absolute;
            //     }
                    
            //     .button__galochka {
            //         width: 20px;
            //         position: relative;
            //         top: 15px;
            //         left: 11px;
            //     }

            //     .button__circle svg:hover #circle__circle,
            //     .button__circle svg:hover #galochka__galochka,
            //     .button__galochka svg:hover #galochka__galochka,
            //     .button__galochka svg:hover #circle__circle {
            //         stroke: $colorActive;
            //     } 
            // }   

            .dropdownmenu {
                @media screen and (min-width: $mobile_375) {
                    flex-direction: column;
                    padding: 0 30px;
                }
                @media screen and (min-width: $tabletsd_768) {
                }
                @media screen and (min-width: $tablet_1024) {
                    flex-direction: row;
                }
                @media screen and (min-width: $desktopsd_1280) {
                }
                @media screen and (min-width: $desktop_1440) {
                }
                @media screen and (min-width: $desktophd_1920) {

                }
                

                margin-top: 747px;

                display: none;
                justify-content: center;
                flex-wrap: nowrap;
                align-items: flex-start;
                

                .dropdownmenu__block {
                    // @media screen and (min-width: $desktop) {
                    //     width: 48%;
                    // }
                    // @media screen and (min-width: $desktophd) {
                    //     margin-left: 3%;
                    // }
                    // margin-left: 12.2%;
                    // padding-right: 4.1%;
                    @media screen and (min-width: $mobile_375) {
                        border-bottom:4px solid rgba(255, 255, 255, 0.3);
                        width: auto;
                        margin-left: 0;
                        padding-right: 0;
                    }
                    @media screen and (min-width: $tabletsd_768) {
                        border-bottom:4px solid rgba(255, 255, 255, 0.3);
                    }
                    @media screen and (min-width: $tablet_1024) {
                        width: 32%;
                        border-right:4px solid rgba(255, 255, 255, 0.3);
                        border-bottom: none;
                        // margin-left: 12.2%;
                        // padding-right: 4.1%;
                    }
                    // @media screen and (min-width: $desktopsd_1280) {
                    // }
                    // @media screen and (min-width: $desktop_1440) {
                    // }
                    // @media screen and (min-width: $desktophd_1920) {
                    // }

                    .dropdownmenu__list {
                        @media screen and (min-width: $mobile_375) {
                            @include flex(row,flex-start, nowrap, baseline);
                            overflow: hidden;
                            width: calc(100% - 60px);
                        }
                        @media screen and (min-width: $tabletsd_768) {
                            @include flex(row,flex-start, nowrap, baseline);
                        }
                        @media screen and (min-width: $tablet_1024) {
                            display: block;
                        }
                        // @media screen and (min-width: $desktopsd_1280) {
                        //     top: 362.48px;
                        // }
                        // @media screen and (min-width: $desktop_1440) {
                        //     top: 368px;
                        // }
                        // @media screen and (min-width: $desktophd_1920) {
                        //     top: 460px;
                        // }
                        
                        .dropdownmenu__name {
                            @include gettextstyle (700, 38px, 46px, right, #B3B3BA);
                            margin: 30px 10px;

                        }

                        .dropdownmenu__name--active {
                            background: linear-gradient(90.13deg, #EF8080 0.84%, $colorActive 99.96%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            margin: 10px  0 35px 0;

                            // @media screen and (min-width: $desktophd) {
                            //     margin: 0;
                            // }
                        }
                        
                        .dropdownmenu__name--pramery {
                            margin: 30px 10px 10px 0;
                        }

                        .dropdownmenu__name:hover {
                            color: $colorActive;
                            cursor: pointer;
                        }
                    }
                }

                .dropdownmenu__copy {
                    @media screen and (min-width: $mobile_375) {
                        width: 100%;
                    }
                    @media screen and (min-width: $tabletsd_768) {
                    }
                    @media screen and (min-width: $tablet_1024) {
                    }
                    @media screen and (min-width: $desktopsd_1280) {
                    }
                    @media screen and (min-width: $desktop_1440) {
                        width: 55%;
                        margin-left: 4.1%;
                    }
                    @media screen and (min-width: $desktophd_1920) {
                    }

                    .dropdownmenu__title {
                        @include gettextstyle(700, 30px, 37px,start, $colorBasic); 

                        // @media screen and (min-width: $desktophd) {
                        //     margin: 60px 0 30px;
                        // }
                        margin: 43px 0 30px;
                    }

                    .dropdownmenu__text {
                        @include gettextstyle (400, 19px, 30px, start, $colorBasic);
                        // @media screen and (min-width: $desktophd) {
                        //     width: auto;
                        // }
                        width: 73.4%;
                    }
                }
            }
        }
            
        .group {
            margin-top: 747px;

            // @media screen and (min-width: $desktophd) {
            //     padding: 60px 0 0 0;
            // }
            padding: 60px 0 0 4%;

            .group__item {
                margin-top: 60px;
                @include flex(column, flex-start, wrap, baseline);

                .group__block {
                    @include flex(row, flex-start, wrap, baseline);
                    margin-bottom: 60px;

                    .block {
                        @include flex(column, flex-start, nowrap, baseline);
                        margin-right: 60px;

                        .block__baner {
                            width: 92px;
                            height: 92px;
                            background: $colorBasic;
                            border-radius: 24px;
                            padding: 14px;
                            margin-bottom: 30px;

                        }

                        .block__copy {
                            // @media screen and (min-width: $desktop) {
                            //     width: 374px;
                            // }
                            // @media screen and (min-width: $desktophd) {
                            //     width: 460px;
                            // }
                            width: 400px;

                            .block__title {
                                @include gettextstyle (700, 22px, 27px, start, $colorSecondary);
                                margin-bottom: 15px;
                            }

                            .block__text {
                                @include gettextstyle(400, 16px, 26px, start, $colorBasic);
                            }
                        }
                    }
                }
            }
        }
    }

}
.background--special {
    
   width: calc(100% - 40px);
    
    margin: 0 auto;
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}
.background--primary {
    width: calc(100% - 80px);
    margin: 0 auto;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background: #CACADB;
}


// прошу прощения что не сделал этот проэкт по нормальному, просто мне уже тяжело на него смотреть(
    // я хочу его сделать полнастью, после того как окончатильно выздоровлю,
    //  я так большое спасибо за такой прекрасный курс)
