@import 'mixin';
@import 'base';

.header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    padding: 0 40px;
    
    .background__picture--special {
        position: absolute;
        top: 0;
        left: calc(25.8% + 20px);
    }

    .background__picture--pramery {
        position: absolute;
        left: calc(39.792% + 7px);
        top: 341px;
    }

    .container {

        .background {


            .header__top {
                padding: 50px 60px 0;
                @include flex(row, space-between, nowrap, flex-start);

                .logo {
                    @include flex(column, flex-start, nowrap, baseline);
                }

                .nav {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px 0;

                    .nav__block{
                        @include flex(row, flex-end, nowrap, baseline);
                        

                        .nav__item {
                            @include flex(row, flex-start, nowrap, baseline);
                            align-self: flex-start;

                            .nav__link {
                                @include gettextstyle(700, 12px, 15px, center, $colorBasic);
                                letter-spacing: 1px;
                                padding: 5px 7px;
                                
                                &:hover {
                                    cursor: pointer;
                                    background: rgba(255, 255, 255, 0.2);
                                    border-radius: 8px;
                                }
                            }

                            .nav__link--active {
                                background: $colorActive;
                                border-radius: 8px;
                            }
                        }

                        .list {
                            @include flex(row,flex-start, nowrap, baseline);

                            
                            .list__item {
                                @include gettextstyle(700, 16px, 20px, start, $colorBasic);
                                align-self: center;
                                margin-left: 18px;
                                position: relative;
                            }

                            .list__item--special::before{
                                content: '';
                                position: absolute;
                                top: 7px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item::before{
                                content: '';
                                position: absolute;
                                top: 7px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item--primary::before{
                                content: '';
                                position: absolute;
                                top: 11px;
                                left: -12px;
                                background-color:#B3B3BA;
                                border: 2px solid #B3B3BA;
                                height: 2px;
                                width: 2px;
                                border-radius: 50%;
                            }

                            .list__item--special {
                                @include gettextstyle(400, 16px, 20px, right, $colorBasic);
                            }

                            .list__link svg:hover #face {
                                fill: $colorActive;
                            }
                        }

                    }


                    .menu {
                        font-size: 0;
                        @include flex(row,flex-end, nowrap, baseline);

                        .menu__item {
                            margin: 0 0 0 2.2%;

                            &:hover {
                                border-bottom: 2px solid $colorBasic;
                            }

                            .menu__link {
                                @include gettextstyle(700, 16px, 20px, right, $colorBasic);
                                text-decoration: none;
                            }
                        }

                        .menu__item--active {
                            border-bottom: 2px solid $colorActive;

                            .menu__link--active {
                                color: $colorActive;
                            }
                        }
                    }
                }
            }

            .header__title {
                @include gettextstyle(700, 38px, 46px, center, $colorBasic);
                position: absolute;
                width: 800px;
                top: 377px;
                left: 360px;
            }

            .button {
                margin: 614px auto 0;
                width: 42px;

                .button__circle {
                    position: absolute;
                }
                    
                .button__galochka {
                    width: 20px;
                    position: relative;
                    top: 15px;
                    left: 11px;
                }

                .button__circle svg:hover #circle__circle,
                .button__circle svg:hover #galochka__galochka,
                .button__galochka svg:hover #galochka__galochka,
                .button__galochka svg:hover #circle__circle {
                    stroke: $colorActive;
                } 
            }   

            .dropdownmenu {
                margin-top: 90px;
                display: none;
                flex-direction: row;
                justify-content: flex-start;
                flex-wrap: nowrap;
                align-items: flex-start;

                .dropdownmenu__block {
                    width: 32%;
                    margin-left: 12.2%;
                    padding-right: 4.1%;
                    border-right:4px solid rgba(255, 255, 255, 0.3);

                    .dropdownmenu__list {
                        
                        .dropdownmenu__name {
                            @include gettextstyle (700, 38px, 46px, right, #B3B3BA);
                            margin: 30px 0;

                        }

                        .dropdownmenu__name--active {
                            background: linear-gradient(90.13deg, #EF8080 0.84%, $colorActive 99.96%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            margin: 10px  0 35px 0;
                        }
                        
                        .dropdownmenu__name--pramery {
                            margin: 30px 0 10px 0;
                        }

                        .dropdownmenu__name:hover {
                            color: $colorActive;
                            cursor: pointer;
                        }
                    }
                }

                .dropdownmenu__copy {
                    width: 55%;
                    margin-left: 4.1%;

                    .dropdownmenu__title {
                        @include gettextstyle(700, 30px, 37px,start, $colorBasic); 
                        margin: 43px 0 30px;
                    }

                    .dropdownmenu__text {
                        @include gettextstyle (400, 19px, 30px, start, $colorBasic);
                        width: 73.4%;
                    }
                }
            }
        }
            
        .group {
            padding: 60px 0 0 4.1%;

            .group__item {
                margin-top: 60px;
                @include flex(column, flex-start, wrap, baseline);

                .group__block {
                    @include flex(row, flex-start, wrap, baseline);
                    margin-bottom: 60px;

                    .block {
                        @include flex(column, flex-start, nowrap, baseline);
                        margin-right: 60px;

                        .block__baner {
                            width: 92px;
                            height: 92px;
                            background: $colorBasic;
                            border-radius: 24px;
                            padding: 14px;
                            margin-bottom: 30px;

                        }

                        .block__copy {
                            width: 400px;

                            .block__title {
                                @include gettextstyle (700, 22px, 27px, start, $colorSecondary);
                                margin-bottom: 15px;
                            }

                            .block__text {
                                @include gettextstyle(400, 16px, 26px, start, $colorBasic);
                            }
                        }
                    }

                }

                
            }
        }
    
    }

}
.background--special {
    width: 97.2%;
    margin: 0 auto;
    height: 10px;
    background: #E7E7F2;
    border-radius: 0px 0px 12px 12px;
}
.background--primary {
    width: 94.4%;
    margin: 0 auto;
    height: 10px;
    border-radius: 0px 0px 12px 12px;
    background: #CACADB;
}

