$colorActive: #F0145A;
$colorBasic: #ffffff;
$colorSecondary: #24A3FF;
$desktophd_1920: 1920px;
$desktop_1440: 1440px;
$desktopsd_1280: 1280px;
$tablet_1024: 1024px;
$tabletsd_768: 768px;
$mobile_375: 375px;


@mixin flex($fd, $jc, $wr, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    flex-wrap: $wr;
    align-items: $ai;
}

@mixin gettextstyle($fw, $fs, $lh, $ta, $c) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    text-align: $ta;
    color: $c;
}

