body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

.way {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 10px;
}
.way .way__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 5.5px;
}
.way .way__name:hover + .way__logo svg #way_svg {
  stroke: #F0145A;
  cursor: pointer;
}
.way .way__name:hover {
  color: #F0145A;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: start;
  color: #ffffff;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

.way {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 10px;
}
.way .way__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 5.5px;
}
.way .way__name:hover + .way__logo svg #way_svg {
  stroke: #F0145A;
  cursor: pointer;
}
.way .way__name:hover {
  color: #F0145A;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: start;
  color: #ffffff;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.background__picture {
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}
.background__picture .background__item {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.background__picture .background__item .background__picture--special {
  display: block;
  position: relative;
  top: 0;
}
@media screen and (min-width: 375px) {
  .background__picture .background__item .background__picture--special {
    zoom: 0.75;
  }
}
@media screen and (min-width: 768px) {
  .background__picture .background__item .background__picture--special {
    zoom: 1.2816;
  }
}
@media screen and (min-width: 1024px) {
  .background__picture .background__item .background__picture--special {
    zoom: 0.9612;
  }
}
@media screen and (min-width: 1280px) {
  .background__picture .background__item .background__picture--special {
    zoom: 0.985;
  }
}
@media screen and (min-width: 1440px) {
  .background__picture .background__item .background__picture--special {
    zoom: 1;
  }
}
@media screen and (min-width: 1920px) {
  .background__picture .background__item .background__picture--special {
    zoom: 1.25;
  }
}
.background__picture .background__item .background__picture--pramery {
  display: block;
  position: relative;
  height: 459px;
  top: 340px;
}
@media screen and (min-width: 375px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 0.75;
    left: -155px;
  }
}
@media screen and (min-width: 768px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 1.2816;
  }
}
@media screen and (min-width: 1024px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 0.9612;
  }
}
@media screen and (min-width: 1280px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 0.985;
  }
}
@media screen and (min-width: 1440px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 1;
  }
}
@media screen and (min-width: 1920px) {
  .background__picture .background__item .background__picture--pramery {
    zoom: 1.25;
  }
}
.background__picture .header__title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  position: absolute;
}
@media screen and (min-width: 375px) {
  .background__picture .header__title {
    top: 226px;
    width: 315px;
  }
}
@media screen and (min-width: 768px) {
  .background__picture .header__title {
    top: 471.63px;
    width: 800px;
  }
}
@media screen and (min-width: 1024px) {
  .background__picture .header__title {
    top: 353.7px;
  }
}
@media screen and (min-width: 1280px) {
  .background__picture .header__title {
    top: 362.48px;
  }
}
@media screen and (min-width: 1440px) {
  .background__picture .header__title {
    top: 368px;
  }
}
@media screen and (min-width: 1920px) {
  .background__picture .header__title {
    top: 460px;
  }
}
.background__picture .button {
  position: absolute;
  width: 42px;
  left: 45%;
  bottom: 40px;
}
.background__picture .button .button__circle {
  position: absolute;
}
.background__picture .button .button__galochka {
  width: 20px;
  position: relative;
  top: 15px;
  left: 11px;
}
.background__picture .button .button__circle svg:hover #circle__circle,
.background__picture .button .button__circle svg:hover #galochka__galochka,
.background__picture .button .button__galochka svg:hover #galochka__galochka,
.background__picture .button .button__galochka svg:hover #circle__circle {
  stroke: #F0145A;
}

.header {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}
.header .container .background .header__top {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media screen and (min-width: 1440px) {
  .header .container .background .header__top {
    padding: 50px 30px 0;
  }
}
.header .container .background .header__top .logo {
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .header .container .background .header__top .logo {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .header__top .logo {
    padding-top: 0;
  }
}
.header .container .background .header__top .nav {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .header .container .background .header__top .nav {
    width: auto;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .header__top .nav {
    width: 86.9%;
  }
}
@media screen and (min-width: 1440px) {
  .header .container .background .header__top .nav {
    width: 88%;
  }
}
.header .container .background .header__top .nav .nav__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: baseline;
}
@media screen and (min-width: 375px) {
  .header .container .background .header__top .nav .nav__block {
    margin-bottom: 22px;
    background: rgba(245, 245, 250, 0.2);
  }
}
@media screen and (min-width: 768px) {
  .header .container .background .header__top .nav .nav__block {
    margin-bottom: 122px;
    background: none;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .header__top .nav .nav__block {
    margin-bottom: 12px;
  }
}
.header .container .background .header__top .nav .nav__block .nav__item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  align-self: flex-start;
}
.header .container .background .header__top .nav .nav__block .nav__item .nav__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 5px 7px;
}
.header .container .background .header__top .nav .nav__block .nav__item .nav__link:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.header .container .background .header__top .nav .nav__block .nav__item .nav__link--active {
  background: #F0145A;
  border-radius: 8px;
}
.header .container .background .header__top .nav .nav__block .list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
}
.header .container .background .header__top .nav .nav__block .list .list__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #ffffff;
  align-self: center;
  margin-left: 18px;
  position: relative;
}
.header .container .background .header__top .nav .nav__block .list .list__item--special::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -12px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.header .container .background .header__top .nav .nav__block .list .list__item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -12px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.header .container .background .header__top .nav .nav__block .list .list__item--primary::before {
  content: "";
  position: absolute;
  top: 11px;
  left: -12px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.header .container .background .header__top .nav .nav__block .list .list__item--special {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
}
.header .container .background .header__top .nav .nav__block .list .list__link svg:hover #face {
  fill: #F0145A;
}
.header .container .background .header__top .nav .menu {
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: baseline;
}
@media screen and (min-width: 768px) {
  .header .container .background .header__top .nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .header__top .nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
.header .container .background .header__top .nav .menu .menu__item {
  margin: 0 0 0 15px;
}
.header .container .background .header__top .nav .menu .menu__item:hover {
  border-bottom: 2px solid #ffffff;
}
.header .container .background .header__top .nav .menu .menu__item .menu__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}
.header .container .background .header__top .nav .menu .menu__item--active {
  margin: 0;
  border-bottom: 2px solid #F0145A;
}
.header .container .background .header__top .nav .menu .menu__item--active .menu__link--active {
  color: #F0145A;
}
.header .container .background .dropdownmenu {
  margin-top: 747px;
  display: none;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
}
@media screen and (min-width: 375px) {
  .header .container .background .dropdownmenu {
    flex-direction: column;
    padding: 0 30px;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .dropdownmenu {
    flex-direction: row;
  }
}
@media screen and (min-width: 375px) {
  .header .container .background .dropdownmenu .dropdownmenu__block {
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
    width: auto;
    margin-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 768px) {
  .header .container .background .dropdownmenu .dropdownmenu__block {
    border-bottom: 4px solid rgba(255, 255, 255, 0.3);
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .dropdownmenu .dropdownmenu__block {
    width: 32%;
    border-right: 4px solid rgba(255, 255, 255, 0.3);
    border-bottom: none;
  }
}
@media screen and (min-width: 375px) {
  .header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
    overflow: hidden;
    width: calc(100% - 60px);
  }
}
@media screen and (min-width: 768px) {
  .header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}
@media screen and (min-width: 1024px) {
  .header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list {
    display: block;
  }
}
.header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list .dropdownmenu__name {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: right;
  color: #B3B3BA;
  margin: 30px 10px;
}
.header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list .dropdownmenu__name--active {
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 10px 0 35px 0;
}
.header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list .dropdownmenu__name--pramery {
  margin: 30px 10px 10px 0;
}
.header .container .background .dropdownmenu .dropdownmenu__block .dropdownmenu__list .dropdownmenu__name:hover {
  color: #F0145A;
  cursor: pointer;
}
@media screen and (min-width: 375px) {
  .header .container .background .dropdownmenu .dropdownmenu__copy {
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .header .container .background .dropdownmenu .dropdownmenu__copy {
    width: 55%;
    margin-left: 4.1%;
  }
}
.header .container .background .dropdownmenu .dropdownmenu__copy .dropdownmenu__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: start;
  color: #ffffff;
  margin: 43px 0 30px;
}
.header .container .background .dropdownmenu .dropdownmenu__copy .dropdownmenu__text {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: start;
  color: #ffffff;
  width: 73.4%;
}
.header .container .group {
  margin-top: 747px;
  padding: 60px 0 0 4%;
}
.header .container .group .group__item {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
}
.header .container .group .group__item .group__block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 60px;
}
.header .container .group .group__item .group__block .block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-right: 60px;
}
.header .container .group .group__item .group__block .block .block__baner {
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
  margin-bottom: 30px;
}
.header .container .group .group__item .group__block .block .block__copy {
  width: 400px;
}
.header .container .group .group__item .group__block .block .block__copy .block__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  text-align: start;
  color: #24A3FF;
  margin-bottom: 15px;
}
.header .container .group .group__item .group__block .block .block__copy .block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: start;
  color: #ffffff;
}

.background--special {
  width: calc(100% - 40px);
  margin: 0 auto;
  height: 10px;
  background: #E7E7F2;
  border-radius: 0px 0px 12px 12px;
}

.background--primary {
  width: calc(100% - 80px);
  margin: 0 auto;
  height: 10px;
  border-radius: 0px 0px 12px 12px;
  background: #CACADB;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

.way {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: baseline;
  margin-bottom: 10px;
}
.way .way__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: start;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 5.5px;
}
.way .way__name:hover + .way__logo svg #way_svg {
  stroke: #F0145A;
  cursor: pointer;
}
.way .way__name:hover {
  color: #F0145A;
  cursor: pointer;
}

.title {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: start;
  color: #ffffff;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (min-width: 375px) {
  .main .slider {
    padding: 0;
  }
}
@media screen and (min-width: 1024px) {
  .main .slider {
    padding: 60px 100px 30px 100px;
  }
}
.main .slider .slider__container {
  background: #F5F5FA;
  border-radius: 12px 0px 0px 12px;
}
@media screen and (min-width: 375px) {
  .main .slider .slider__container .slider__block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
  }
}
@media screen and (min-width: 1024px) {
  .main .slider .slider__container .slider__block {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
  }
}
.main .slider .slider__container .slider__block .slider__picture {
  width: 400px;
  border-radius: 12px 0px 0px 12px;
  height: 349px;
}
@media screen and (min-width: 375px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 315px;
    height: 500px;
  }
}
@media screen and (min-width: 768px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 648px;
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 400px;
    height: 528px;
  }
}
@media screen and (min-width: 1280px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 400px;
    height: 344px;
  }
}
@media screen and (min-width: 1440px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 400px;
    height: 344px;
  }
}
@media screen and (min-width: 1920px) {
  .main .slider .slider__container .slider__block .slider__picture {
    width: 400px;
    height: 298px;
  }
}
.main .slider .slider__container .slider__block .slider__copy {
  width: 69.67%;
  padding: 30px;
}
.main .slider .slider__container .slider__block .slider__copy .slider__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #B3B3BA;
  margin-top: 30px;
}
.main .slider .slider__container .slider__block .slider__copy .slider__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: start;
  color: #B3B3BA;
  margin-top: 6px;
}
.main .slider #slider1 {
  display: flex;
}
.main .slider #slider2,
.main .slider #slider3 {
  display: none;
}
.main .slider .slider__button {
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: baseline;
}
.main .slider .slider__button .button {
  width: 16px;
  height: 16px;
  background-color: #24A3FF;
  border-radius: 8px;
  margin: 0 15px 0 0;
  opacity: 0.2;
  cursor: pointer;
}
.main .slider .slider__button .button--active {
  opacity: 1;
}
.main .slider .slider__button .button--special {
  margin: 0;
}
.main .baner--special {
  margin: 60px 0 0;
}
.main .baner .baner__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #323264;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.main .baner .baner__block {
  width: 94.8%;
  margin: 30px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
}
.main .baner .baner__block .baner__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  width: 360px;
  height: 120px;
}
.main .baner .baner__block .baner__item--special {
  background: #1C4280;
}
.main .baner .baner__block .baner__item--primary {
  background: #143646;
}
.main .baner .baner__block .baner__item--additional {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}
.main .baner .baner__block .baner__item--extra {
  background: #9E4DC3;
}
.main .baner .baner__block .baner__item--supplementaru {
  background: #FD9339;
}
.main .baner .baner__block .baner__item--secondary {
  background: #E2E2E4;
}
.main .baner .baner__block .baner__item--peculiar {
  background: #C71C36;
}
.main .baner .baner__block .baner__item--unique {
  background: #DCF3F9;
}
.main .baner .baner__block .baner__item--extraordinary {
  background: #EAEAEA;
}
.main .baner .baner__block .baner__item--specific {
  background: #282240;
}
.main .baner .baner__block .baner__item--particular {
  background: #1D4568;
}
.main .baner .baner__block .baner__item--exceptional {
  background: #000000;
}
.main .block {
  background: #F5F5FA;
  padding: 30px 60px 0;
}
.main .block .block__container {
  margin: 0 auto;
}
.main .block .block__container .block__item {
  margin-top: 30px;
}
@media screen and (min-width: 375px) {
  .main .block .block__container .block__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    align-items: start;
  }
}
@media screen and (min-width: 1024px) {
  .main .block .block__container .block__item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: start;
  }
}
.main .block .block__container .block__item .card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: nowrap;
  align-items: start;
  width: 31.82%;
  margin: 0 30px 0 0;
  background-color: #ffffff;
}
.main .block .block__container .block__item .card .card__picture {
  width: 100%;
  height: 200px;
}
.main .block .block__container .block__item .card .card__copy {
  padding: 30px 30px 70px;
}
.main .block .block__container .block__item .card .card__copy .card__text {
  border-bottom: 4px solid #E6E6F0;
}
.main .block .block__container .block__item .card .card__copy .card__text .card__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #24A3FF;
  margin: 0 0 15px 0;
}
.main .block .block__container .block__item .card .card__copy .card__text .card__data {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: start;
  color: #B3B3BA;
  margin: 0 0 15px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.main .block .block__container .block__item .card .card__copy .card__footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: start;
  color: #000000;
  margin: 15px 0 0 0;
}
.main .block .block__container .block__item .card .card__copy--extra {
  padding: 30px 30px 30px;
}
.main .block .block__container .block__item .card .card__copy--special {
  padding: 30px 30px 48px;
}
.main .block .block__container .block__item .card--special {
  margin: 0;
}

.footer {
  background: #F5F5FA;
  padding: 30px 60px 0;
}
.footer .footer__container {
  border-top: 2px solid #E6E6F0;
  padding-top: 30px;
}
@media screen and (min-width: 375px) {
  .footer .footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: start;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: start;
  }
}
.footer .footer__container .footer__contac {
  padding: 0 40px;
}
.footer .footer__container .footer__contac .footer__item {
  margin: 0 0 15px 0;
}
.footer .footer__container .footer__contac .footer__item .footer__list {
  font-size: 0;
}
@media screen and (min-width: 375px) {
  .footer .footer__container .footer__contac .footer__item .footer__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: nowrap;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .footer .footer__container .footer__contac .footer__item .footer__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: start;
  color: #323264;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--special {
  position: relative;
  margin-left: 26px;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--special .footer__link {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: start;
  color: #24A3FF;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--special .footer__link:hover {
  color: #F0145A;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--special .footer__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--secondary .footer__face {
  text-decoration: none;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--secondary svg:hover #footer__face {
  fill: #F0145A;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--additional {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466E;
  margin-left: 26px;
  position: relative;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--additional::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--extra {
  margin-left: 26px;
  position: relative;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--extra .footer__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24A3FF;
  text-decoration: none;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--extra .footer__link:hover {
  color: #F0145A;
}
.footer .footer__container .footer__contac .footer__item .footer__list .footer__name--extra .footer__link::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #B3B3BA;
  border: 2px solid #B3B3BA;
  height: 2px;
  width: 2px;
  border-radius: 50%;
}
.footer .footer__container .footer__contac--special {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #B3B3BA;
}/*# sourceMappingURL=style.css.map */